/*
Cores
#A58763 PAPELÃO
#2D2D2D CINZA
#E9E0D1 COR DE PELE
#D7C9AE COR DE PELE MAIS CLARO
#99744a PAPELAO 2 
#c19c6f BEGE CLARO
#404936 VERDE

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
font family: 'caveat', cursive;
font family: 'EB Garamond', serif;
font family: 'Marhey', cursive;
font family: 'Mynerve', cursive;
font family: 'Roboto', sans-serif;
*/