
*{
    padding: 0%;
margin: 0%;
box-sizing: border-box;
}
      /*-----------------------------*/
      /*     Estilizando 'Body'      */
      /*-----------------------------*/

body {
    background-color: #A68A6A;
        margin: 0;
        padding: 0;
}

      /*-----------------------------*/
      /*    Estilizando o 'Header'   */
      /*-----------------------------*/

header {
background: url('images/header1.png');
background-repeat: no-repeat;
background-position: center center;
height: 400px;

}


      /*-----------------------------*/
      /*   Estilizando a 'NavBar'    */
      /*-----------------------------*/

    ul {/* Estilizando a classe 'Lista' */
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        height: 70px;
        justify-content: left;
        align-items: center;
        background-color: #00000000;
        display: flex;
        overflow: hidden;
    }
    li a {/* Estilizando classe 'Link Dentro da Lista' */
        text-align: center;
        display: block;
        color: #ffffff;
        padding: 10px 80px;
        text-decoration: none;
        font-size: 20px;
    }
    li a:hover {/* Estilizando classe 'Link Dentro da Lista' com ação de passar o mouse */
        background-color: rgba(214, 191, 141, 0.747);
    }
